table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  button#getdata {
    color: white;
    background: cadetblue;
    width: 9%;
    height: 35%;
    border: cadetblue;
    font-size: 40px;
}
 
 
